.logo{
    display: block;
    margin: 0 auto;
}

*{
    margin: 0;
    padding: 0;
}


nav {
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around; /* Distribuye los elementos equitativamente */
    padding: 0;
}

li {
    margin: 0;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #a00000;
}

li:hover{
  transition: 250ms;
  background-color: #11000034;
}

video {
    transform: translateY(30px);
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 0px 50px white
}

.principal {
    background-color: #000000;
}


.barrared {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 43);
    font-family: Arial;
    text-align: center;
    text-decoration: underline;
 }

.titulo {
    transform: translateY(35px);
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    font-size: 30px;
 }

.parrafo {
    transform: translateY(35px);
    color: rgb(255, 255, 255);
    font-family: Arial;
    text-shadow: 2px 2px 5px black;
    text-align: justify;
    font-size: 20px;
}

.img {
    width: 800px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px white
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otros {
    transform: translateY(50px);
    color: rgb(255, 255, 255);
    font-family: Arial;
    text-shadow: 2px 2px 5px black;
    text-align: justify;
    font-size: 20px;
}

.list {
    transform: translateY(50px);
    color: rgb(255, 255, 255);
    font-family: Arial;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
}

.bestcaps {
    background-image: url("C:/Users/Matias Corderi/Desktop/ESTUDIOS 2026/UNA - PRIMER AÑO/Informática General/práctica 9/img/FondoPiece3.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.best {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 43);
    font-family: Arial;
    text-align: center;
    text-decoration: underline;
 }

.top1 {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
 }

 .desc1 {
    color: rgb(0, 0, 0);
    font-family: Arial;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}

 .imgtop1 {
    width: 632px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px white
}

.contenedortop1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top2 {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
 }

 .desc2 {
    color: rgb(0, 0, 0);
    font-family: Arial;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}

 .imgtop2 {
    width: 640px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px white
}

.contenedortop2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top3 {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
 }

 .desc3 {
    color: rgb(0, 0, 0);
    font-family: Arial;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}

 .imgtop3 {
    width: 640px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px white
}

.contenedortop3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top4 {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
 }

 .desc4 {
    color: rgb(0, 0, 0);
    font-family: Arial;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}

 .imgtop4 {
    width: 1884x;
    border-radius: 15px;
    box-shadow: 0px 0px 30px white
}

.contenedortop4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top5 {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    text-shadow: 2px 2px 1px rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
 }

 .desc5 {
    color: rgb(0, 0, 0);
    font-family: Arial;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}

 .imgtop5 {
    width: 1400px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px white
}

.contenedortop5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}